<div class="container">
  <h4 class="mt-5">About</h1>
  <p>
    このサイトは、自由に建築や土木構造物の情報を投稿し合うサイトです。<br>
    <br>
    有名なものに限らず、みんなが素直に<strong>"なんか良いな"</strong>と思える建築や土木構造物の情報を集めたいと思い、作りました。<br>
    <br>
    「Structure dictionary」という名前は、建築・土木構造物（structure）の<br>
    情報を集約した辞書（dictionary）を作りたいという思いで名付けました。<br>
    <br>
    会員登録（無料）して頂ければ、自分の気に入った構造物を投稿できるようになります。<br>
    <br>
    このサイトで、みなさんが<strong>”なんか良いな”</strong>と思える建築や土木構造物に出会えることができれば、<br>
    制作者にとってこれ以上に幸せなことはありません。<br>
    <br>
  </p>
</div>