<h1>About</h1>
<p>
  このサイトは、みんなで建築や土木構造物の情報を投稿し合うサイトです。<br>
  有名な建築家が設計した建築は、Webサイトや書籍などに多くの情報が<br>
  あります。<br>
  また橋やダムなどの土木構造物の情報は、あまりまとめられていません。<br>
  <br>
  この世界は素晴らしい建築や土木構造物であふれています。<br>
  <br>
  「有名な建築家だから良い建築」「大きな橋だから良い土木構造物」。<br>
  人の評価はそれぞれです。<br>
  <br>
  このサイトでは、みんなが素直に「なんか良いな」と直感でそう思える建築<br>
  や土木構造物に注目します。<br>
  <br>
  「Structure dictionary」という名前は、建築・土木構造物（structure）の<br>
  情報を集約した辞書（dictionary）を作りたいという思いで名付けました。<br>
  <br>
  みなさんでひとつの辞書を作っていければ幸いです。<br>
</p>
<img src="https://picsum.photos/300/200">