<h1>構造物一覧</h1>
<div class="container d-flex">
  <% @photos.each do |photo| %>
  <div>
    <section><%= attachment_image_tag photo, :image, size:"80x80", format:"jpeg", fallback: "no_image.jpg" %></section>
    <h1><%= Structure.find_by(id: photo.structure_id).name %></h1>
  </div>
  <% end %>
</div>