<h1>トップページ2</h1>
<div>
  <h1>設計者から探す</h1>
  <img src="https://picsum.photos/300/200">
</div>
<div>
  <h1>所在地から探す</h1>
  <img src="https://picsum.photos/300/200">
</div>
<div>
  <h1>構造物から探す</h1>
  <img src="https://picsum.photos/300/200">
</div>
<div>
  <h1>タグから探す</h1>
  <img src="https://picsum.photos/300/200">
</div>