<h1>執筆履歴一覧</h1>
<table class="table table-striped">
  <tr>
    <th>執筆日時</th>
    <th>ニックネーム</th>
    <th>ジャンル</th>
    <th>建築・土木構造物名</th>
    <th>設計者名</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>